<h2>Edit gis object</h2>

<%= render "form.html", changeset: @changeset,
                        action: gis_object_path(@conn, :update, @gis_object) %>

<%= link "Back", to: gis_object_path(@conn, :index) %>
