.icon {
    &.svmx.feature {
        &.camera {
            background: image-url("feature-camera-inuse.svg") center no-repeat;
            transform: rotate(90deg);
        }

    }

    &.svmx.status {
        &.nocommunication {
            background-image: image-url("svmx-status-nocommunication.png");
            width: 18px;
            height: 18px;
        }

        &.unknown {
            background-image: image-url("svmx-status-unknown.png");
            width: 18px;
            height: 18px;
        }
    }
}
