@font-face {
  font-family: 'MapIcons';
  src:
    url('map_icons.ttf?ldskhf') format('truetype'),
    url('map_icons.woff?ldskhf') format('woff'),
    url('map_icons.svg?ldskhf#MapIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.icon.lasso-select,
i.icon.box-select {
  font-family: 'MapIcons' !important;
}

i.icon.lasso-select:before {
  content: "\e817";
}

i.icon.box-select:before {
  content: "\e847";
}
