<h2>New gis object type</h2>

<%= render "form.html", changeset: @changeset,
                        action: gis_object_type_path(@conn, :create) %>

<%= link "Back", to: gis_object_type_path(@conn, :index) %>
