i.icon.svmx.status.unknown {
    background-image: url("../assets/svmx-status-unknown.png");
    width: 18px;
    height: 18px;
}

i.icon.svmx.status.nocommunication {
    background-image: url("../assets/svmx-status-nocommunication.png");
    width: 18px;
    height: 18px;
}
